<launch>
  <arg name="stage" default="3"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <node pkg="turtlebot3_dqn" type="test_trained_model.py" name="test_trained_model" output="screen" />
  <node pkg="turtlebot3_dqn"  type="moving_obstacle" name="moving_obstacle" output="screen" />
</launch>