<launch>
  <arg name="stage" default="1"/>
  <arg name="her" default="false"/>
  <param name="stage_number"  value="$(arg stage)"/>

  <group unless="$(arg her)">
    <node pkg="turtlebot3_dqn" type="turtlebot3_dqn.py" name="turtlebot3_dqn" output="screen">
      <param name="stage" value="$(arg stage)" type="string" />
    </node>
  </group>

  <group if="$(arg her)">
    <node pkg="turtlebot3_dqn" type="turtlebot3_dqn_her.py" name="turtlebot3_dqn" output="screen">
      <param name="stage" value="$(arg stage)" type="string" />
    </node>
  </group>

  <group if="$(eval arg('stage') == 3)">
    <node pkg="turtlebot3_dqn"  type="moving_obstacle.py" name="moving_obstacle" output="screen" />
  </group>

  <group if="$(eval arg('stage') == 4)">
    <node pkg="turtlebot3_dqn" type="combination_obstacle_1.py" name="combination_obstacle_1" output="screen" />
    <node pkg="turtlebot3_dqn" type="combination_obstacle_2.py" name="combination_obstacle_2" output="screen" />
  </group>

</launch>
