<launch>
  <arg name="stage" default="1"/>
  <param name="stage_number"  value="$(arg stage)"/>

  <group if="$(eval arg('stage') == 1)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_1.launch">
    </include>
  </group>
  
  <group if="$(eval arg('stage') == 2)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_2.launch">
    </include>
  </group>
  
  <group if="$(eval arg('stage') == 3)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_3.launch">
    </include>
  </group>
  
  <group if="$(eval arg('stage') == 4)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch">
    </include>
  </group>
</launch>